<div class="body">
  <div class="cabecero">
    <div class="logo" onclick='location.href="http://localhost:4200/home"'>
      <img
        src="../../../assets/images/Logo.svg"
        alt="Feelm Logo" />
    </div>
    <div class="tickets">
      <div class="cesta" onclick='location.href="http://localhost:4200/perfil"'>
        <img
        src="../../../assets/images/Icono_tickets.svg"
        alt="tickets icon"
        height="100"
        width="100" />
      </div>
      <div class="carteleraExpo" onclick='location.href="http://localhost:4200/cartelera"'>
        <img
        src="../../../assets/images/recomendador.svg"
        alt="recomendador" />
      </div>
    </div>
  </div>

  <div class="cartelera">
    <div class="titulo_cartelera">
      <div class="tituloText aos-init aos-animate" data-aos="fade-down" data-aos-delay="500" data-aos-duration="800" >Cartelera</div>
      <div class="tituloLine"><hr class="linea aos-init aos-animate" data-aos="fade" data-aos-delay="500" data-aos-duration="800" width="0%" size="2" color="#fff"/></div>
    </div>

    <div class="peliculasCartelera">
      <div class="grid_layout" [innerHTML] = "carteles">
      </div>
    </div>
    <div class="separadorFinal"></div>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="./billboard.component.ts"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>AOS.init();</script>
</div>