<div class="body">
  <div class="cabecero">
    <div class="logo">
      <img
        src="Logos/Logo.svg"
        alt="Feelm Logo" />
    </div>
    <div class="tickets">
      <div class="cesta">
        <img
        src="Logos/Icono_tickets.svg"
        alt="tickets icon"
        height="100"
        width="100" />
      </div>
      <div class="carteleraExpo">
        <img
        src="Logos/recomendador.svg"
        alt="recomendador" />
      </div>
    </div>
  </div>
  <div class="cartelera">
    <div class="titulo_cartelera">
      <div class="tituloText" data-aos="fade-down" data-aos-delay="500" data-aos-duration="800">Cartelera</div>
      <div class="tituloLine"><hr class="linea" data-aos="fade" data-aos-delay="500" data-aos-duration="800" width="0%" size="2" color="#fff"/></div>
    </div>

    <div class="peliculasCartelera">
      <div class="grid_layout">
        <div class="pelicula_y_texto">
          <div class="imagenPelicula" data-aos="fade-up" data-aos-delay="550" data-aos-duration="800">
            <img src ="./cartelera/venom.png">
          </div>
          <div class="textoPelicula" data-aos="fade" data-aos-delay="750" data-aos-duration="800">Venom</div>
        </div>
        <div class="pelicula_y_texto">
          <div class="imagenPelicula" data-aos="fade-up" data-aos-delay="600" data-aos-duration="800">
            <img src ="./cartelera/spider-man.png">
          </div>
          <div class="textoPelicula" data-aos="fade" data-aos-delay="800" data-aos-duration="800">Spiderman</div>
        </div>
        <div class="pelicula_y_texto">
          <div class="imagenPelicula" data-aos="fade-up" data-aos-delay="650" data-aos-duration="800">
            <img src ="./cartelera/midsommar.png">
          </div>
          <div class="textoPelicula" data-aos="fade" data-aos-delay="850" data-aos-duration="800">Midsommar</div>
        </div>
        <div class="pelicula_y_texto">
          <div class="imagenPelicula" data-aos="fade-up" data-aos-delay="700" data-aos-duration="800">
            <img src ="./cartelera/expediente-warren.png">
          </div>
          <div class="textoPelicula" data-aos="fade" data-aos-delay="900" data-aos-duration="800">Expediente Warren</div>
        </div>
        <div class="pelicula_y_texto">
          <div class="imagenPelicula" data-aos="fade-up" data-aos-delay="750" data-aos-duration="800">
            <img src ="./cartelera/birman.png">
          </div>
          <div class="textoPelicula" data-aos="fade" data-aos-delay="950" data-aos-duration="800">Birman</div>
        </div>
        <div class="pelicula_y_texto">
          <div class="imagenPelicula" data-aos="fade-up" data-aos-delay="800" data-aos-duration="800">
            <img src ="./cartelera/hollywood.png">
          </div>
          <div class="textoPelicula" data-aos="fade" data-aos-delay="1000" data-aos-duration="800">Hollywood</div>
        </div>
        <div class="pelicula_y_texto">
          <div class="imagenPelicula" data-aos="fade-up" data-aos-delay="850" data-aos-duration="800">
            <img src ="./cartelera/uncharted.png">
          </div>
          <div class="textoPelicula" data-aos="fade" data-aos-delay="1050" data-aos-duration="800">Uncharted</div>
        </div>
        <div class="pelicula_y_texto">
          <div class="imagenPelicula" data-aos="fade-up" data-aos-delay="900" data-aos-duration="800">
            <img src ="./cartelera/revenant.png">
          </div>
          <div class="textoPelicula" data-aos="fade" data-aos-delay="1100" data-aos-duration="800">Revenant</div>
        </div>
      </div>
    </div>
    <div class="separadorFinal"></div>
  </div>  

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./billboard.component.css" />
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>AOS.init();</script>
</div>