<div class="body">
  <div class="cabecero">
    <div class="logo" onclick='location.href="http://localhost:4200/home"'>
      <img
        src="../../../assets/images/Logo.svg"
        alt="Feelm Logo" />
    </div>
    <div class="tickets">
      <div class="cesta" onclick='location.href="http://localhost:4200/perfil"'>
        <img
        src="../../../assets/images/Icono_tickets.svg"
        alt="tickets icon"
        height="100"
        width="100" />
      </div>
      <div class="carteleraExpo" onclick='location.href="http://localhost:4200/cartelera"'>
        <img
        src="../../../assets/images/recomendador.svg"
        alt="recomendador" />
      </div>
    </div>
  </div>

  <main>
    <div class="datosPersonales">
      <h2>DATOS PERSONALES</h2>
      <hr class="linea" width="70%" size="2" color="#fff"/>
      <div class="nombre" id="box-data">NOMBRE: Pepe Flores</div>
      <div class="correo" id="box-data">CORREO: Pepe@pepe.com</div>
      <div class="logout" id="box-data"><a href="#">Cerrar Sesión</a></div>
    </div>
    <div class="reservas">
      <h2>MIS TICKETS</h2>
      <hr class="linea" width="70%" size="2" color="#fff"/>
      <div class="reserva">
        <div class="maincontent">
          <div class="nombrePelicula">Expediente Warren</div>
          <div class="salaYhora">SALA 4: 23:00</div>
          <div class="diaPelicula">14/02/2021</div>
        </div>
        <div class="cancelarReserva"><button type="submit">Cancelar</button></div>
      </div>
    </div>
  </main>
  <link rel="stylesheet" type="text/css" href="./profile.component.css" />
</div>
