<div class="body">
  <div class="cabecero">
    <div class="logo" onclick='location.href="http://localhost:4200/home"'>
      <img
        src="../../../assets/images/Logo.svg"
        alt="Feelm Logo" />
    </div>
    <div class="tickets">
      <div class="cesta" onclick='location.href="http://localhost:4200/perfil"'>
        <img
        src="../../../assets/images/Icono_tickets.svg"
        alt="tickets icon"
        height="100"
        width="100" />
      </div>
      <div class="carteleraExpo" onclick='location.href="http://localhost:4200/cartelera"'>
        <img
        src="../../../assets/images/recomendador.svg"
        alt="recomendador" />
      </div>
    </div>
  </div>

  <main>
    <div class="datosPersonales">
      <h2>DATOS PERSONALES</h2>
      <hr class="linea" width="70%" size="2" color="#fff"/>
      <div class="nombre" id="box-data">NOMBRE: Adrian Suarez</div>
      <div class="correo" id="box-data">CORREO: adrihs@gmail.com</div>
      <div class="logout" id="box-data"><a (click)="logout()">Cerrar Sesión</a></div>
    </div>
    <div class="reservas" [innerHTML] = "ticketFinal">
      
    </div>
  </main>
  <link rel="stylesheet" type="text/css" href="./profile.component.css" />
</div>
