<div class="body">
  <div class="cabecero">
    <div class="logo" onclick='location.href="http://localhost:4200/home"'>
      <img
        src="../../../assets/images/Logo.svg"
        alt="Feelm Logo" />
    </div>
    <div class="tickets">
      <div class="cesta" onclick='location.href="http://localhost:4200/perfil"'>
        <img
        src="../../../assets/images/Icono_tickets.svg"
        alt="tickets icon"
        height="100"
        width="100" />
      </div>
      <div class="carteleraExpo" onclick='location.href="http://localhost:4200/cartelera"'>
        <img
        src="../../../assets/images/recomendador.svg"
        alt="recomendador" />
      </div>
    </div>
  </div>

  <main>
    <div class="cartel" [innerHTML] = "imagen_ruta"></div>
    <div class="tituloYsalas" [innerHTML] = "titulo"></div>
  </main>

  <div class="TrailerYSinopsis">
    <div class="trailer">
      <video id="video" autoplay muted loop>
        <source src="../../../assets/videos/warren.mp4" type="video/mp4">
      </video>
    </div>
    <div class="sinopsisYreserva">
      <div class="sinopsis" [innerHTML] = "sinopsis"></div>
      <div class="reservar">
        <div class="fechas">
          Elección de fecha: 
          <input type="date" name="film-day" value="2022-02-09"
          min="2022-02-09" max="2023-02-09">
        </div>
        <div class="botondereserva">
          <button type="submit" (click) = "postTicket()">Reservar</button>
        </div>
      </div>
    </div>
  </div>

  <link rel="stylesheet" type="text/css" href="./film-sketch.component.css" />
</div>
