<div class="body">
  <div class="cabecero">
    <div class="logo">
      <img
        src="../../../assets/images/Logo.svg"
        alt="Feelm Logo" />
    </div>
    <div class="tickets">
      <div class="cesta">
        <img
        src="../../../assets/images/Icono_tickets.svg"
        alt="tickets icon"
        height="100"
        width="100" />
      </div>
      <div class="carteleraExpo">
        <img
        src="../../../assets/images/recomendador.svg"
        alt="recomendador" />
      </div>
    </div>
  </div>

  <main>
    <div class="cartel">
      <img src ="../../../assets/images/expediente-warren.png">
    </div>
    <div class="tituloYsalas">
      <div class="tituloPelicula">EXPEDIENTE WARREN</div>
      <div class="tituloLine"><hr class="linea" width="80%" size="2" color="#fff"/></div>
      <div class="salas">
        <div class="primeraSala">
          <div class="nombreSala">
            SALA 4
          </div>
          <div class="horasO">
            <div class="horas">
              <div class="hora">20:45</div>
              <div class="hora">17:30</div>
              <div class="hora">12:30</div>
              <div class="hora">19:00</div>
              <div class="hora">15:25</div>
              <div class="hora">23:00</div>
            </div>
          </div>
        </div>
        <div class="segundaSala">
          <div class="nombreSala">
            SALA 6
          </div>
          <div class="horasO">
            <div class="horas">
              <div class="hora">12:30</div>
              <div class="hora">15:30</div>
              <div class="hora">18:00</div>
              <div class="hora">20:45</div>
              <div class="hora">22:30</div>
              <div class="hora">00:00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <div class="TrailerYSinopsis">
    <div class="trailer">
      <video id="video" autoplay muted loop>
        <source src="../../../assets/videos/warren.mp4" type="video/mp4">
      </video>
    </div>
    <div class="sinopsisYreserva">
      <div class="sinopsis">
        <h4>Sinopsis</h4>

        <p>Basada en una historia real, "Expediente Warren: The Conjuring" cuenta la escalofriante historia de cómo Ed y Lorraine Warren, investigadores renombrados en todo el mundo de los fenómenos paranormales, son llamados por una familia aterrorizada por una presencia oscura en una granja aislada.</p>
      </div>
      <div class="reservar">
        <div class="fechas">
          Elección de fecha: 
          <input type="date" name="film-day" value="2022-02-09"
          min="2022-02-09" max="2023-02-09">
        </div>
        <div class="botondereserva">
          <button type="submit">Reservar</button>
        </div>
      </div>
    </div>
  </div>

  <link rel="stylesheet" type="text/css" href="./film-sketch.component.css" />
</div>
